@page
@model StockManager.Pages.Stock.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].StockCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].SupplierRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].DeadCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].Clearance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].ZeroQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].AmtTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].DeliveredQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].CostValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].PCMarkUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clearance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZeroQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmtTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCMarkUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StockID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StockID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StockID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
